/* make scrolling smooth */

html{
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* add some padding back to rest of page */

main{
    padding: 2vw;
}

/* navbar */

.navbar{
    background-color: #788aa3;
    color: #f1f7ed;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

/* hamburger toggle */

.nav__toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem, 1rem;
    right: 0;
}

/* hide close icon to begin*/

.close{
    display: none;
}

/* formatting hamburger icon */
.menu{
    margin: 2rem 1rem 0rem 0rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* getting rid of the check box */
.nav__checkbox{
    display: none;
}

/* showing the nav bar links on checked hamburger icon */
#nav__checkbox:checked ~ .navbar-links li{
    display: block;
}

/*displaying the close icon when hamburger is toggled */

#nav__checkbox:checked ~ label.nav__toggle .close{
    margin-right: 1rem;
    margin-top: 2rem;
    display: block;
}

/*hiding the hamburger icon when it is checked */
#nav__checkbox:checked ~ label.nav__toggle .menu{
    display: none;
}
/* logo */

.logo{
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo img{
    width: 7vw;
    height: 7vw;
}

.logo h1{
    font-size: 1.2em;
}

/* navigation list */

.navbar-links li{
    list-style: none;
    padding: 0.5em 0;
    text-align: center;
    display: none;
}


/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a{
    color: #f1f7ed;
    background-attachment: skyblue;
    font-size: 1.5rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
}


.navbar-links a:hover,
.navbar-links a:focus{
    background-color: #283845;
    color: #89043d;
    border-radius: 10px;
    outline: none;
}

/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media screen and (min-width: 60rem) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
    }

    .nav__toggle{
        display: none;
    }

    .navbar-links li{
        display: block;
    }

    .navbar ul{
        display: block;
        display: flex;
        justify-content: space-between;
    }
}