h1, h2{
    font-family: "Aref Ruqaa Ink";
    color: blue;
    text-align: center;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 5rem;
}

body{
    background-color: lightgoldenrodyellow;
}
#hero{
    text-align: center;
    font-family: "Poppins";
    color: black;
    font-size: 4rem;
}

#hero img{
    border: skyblue solid 2rem;
    border-radius: 100rem;
    height: 50rem;
    width: 50rem;
    background-image: linear-gradient(to bottom right, purple 33%, blue);
    box-shadow: 1rem inset grey;
}
#hobbies ol{
    color: black;
    font-size: 3rem;
    border-style: solid;
    border-color: skyblue;
    list-style-position: inside;
}

#hobbies ol li ul li ul{
    color: purple;
}

#Gallery figure{
    align-content: center;
    text-align: center;
    border: .5rem solid skyblue;
    align-content: center;
    margin: 3rem;
    padding: 2rem;
}

#Gallery figure:hover{
    border: 1rem double red;
    box-shadow: 10px 10px grey;
    color: ;
}

figcaption{
    text-align: center;
    font-size: 3rem;
}

#lit div{
    border: .5rem solid black;
    font-size: 3rem;
    margin-bottom: 3rem;
    border-radius: 5rem;
    padding: 2rem;
}

#lit div::first-letter{
    float: left;
    font-size: 9rem;
    line-height: 0.75;
    margin: 0.1rem 0.1rem 0.1rem;
    padding: 1rem;
    color: blue;
    text-shadow: 7px 7px 10px grey;
}

footer{
    background-color: yellow;
    height: 5rem;
    padding: 2.5rem;
    font-size: 3rem;
    border: 2px black solid;
    text-align: center;    
    border-bottom-right-radius: 10rem;
    border-top-left-radius: 10rem;
    box-shadow: 10px 10px grey;
    margin-bottom: 3rem;
}

